<!-- Default home page -->
<div class="container">
	<div class="col-sm-offset-2 col-sm-8">
		<h1 class="title">Smart Labs <em>Beta</em></h1>
	
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#sentiment" aria-controls="sentiment" role="tab" data-toggle="tab">Sentiment</a></li>
			<li role="presentation"><a href="#word2vec" aria-controls="profile" role="tab" data-toggle="tab">Word2Vec</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		
			<div role="tabpanel" class="tab-pane active" id="sentiment">
				<form id="fsenti">
					<textarea id="txa" name="text" class="form-control" style="height:130px" placeholder="Text to score"></textarea>
					<input type="hidden" name="script" value="senti" />
					<button type="submit" id="submit1" class="btn btn-default">Submit</button>
				</form>
				<br>
				<h3 id="results1"></h3>
				<p id="text1"></p>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="word2vec">
				<form id="fword2vec">
					<input id="txtword" type="text" class="form-control" placeholder="Word" name="text" />
					<input type="hidden" name="script" value="word2vec" />
					<button type="submit" id="submit2" class="btn btn-default">Submit</button>
				</form>
				<h3 id="text2"></h3>
				<table id="results2" class="table table-hover">
				</table>
			</div>
			
		</div>
	</div>
</div>