/* Variables */

@color_blue: #6CBBFF;
@screen-sm: 768px;
@screen-xs: 480px;
@width_menu: 280px;

/* General */

#subcont {
	overflow: auto;
	.row {
		margin: 0;
	}
}

.pointer {
	cursor: pointer;
}

.navbar {
	margin-bottom: 0;
}


/* Loader */

#loader {
	float: left;
	padding-top: 15px;
	color: gray;
}


/* Info window */

.info_window {
	max-width: 470px;
	min-width: 245px;
	h4 {
		margin-bottom: 2px;
		a {
			text-decoration: none;
		}
	}
	.category {
		margin-bottom: 10px;
	}
	.row {
		margin-right: 0;
		.col-xs-3 {
			padding: 0;
			.rating_number {
				clear: both;
				float: right !important;
			}
		}
	}
}


/* Stars */

.stars {
	margin-top: 10px;
	@media (max-width: @screen-xs) {
		font-size: 0.7em;
	}
}

.star_red {
	color: #ff0100;
}

.star_orange {
	color: #ffad00;
}

.star_yellow {
	color: #fffa00;
}

.star_lgreen {
	color: #8fff00;
}

.star_green {
	color: #00aa0f;
}


/* Categories */

.categories {
	max-height: 300px;
	overflow: auto;
}


/* Menu */

#toggle {
	display: block;
	width: 28px;
	height: 30px;
	margin: 10px 10px;
	float: right;
	padding-top: 10px;
	cursor: pointer;
	span {
		position: relative;
		display: block;
		&:after,
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: -9px;
		}
		&:after {
			top: 9px;
		}
	}
	span,
	span:after,
	span:before {
		width: 100%;
		height: 4px;
		background-color: #888;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		backface-visibility: hidden;
		-web-backface-visibility: hidden;
		border-radius: 2px;
	}
}

#toggle.on span {
	background-color: transparent;
	&:before {
		transform: rotate(45deg) translate(5px, 5px);
		-webkit-transform: rotate(45deg) translate(5px, 5px);
		-ms-transform: rotate(45deg) translate(5px, 5px);
	}
	&:after {
		transform: rotate(-45deg) translate(7px, -8px);
		-webkit-transform: rotate(-45deg) translate(7px, -8px);
		-ms-transform: rotate(-45deg) translate(7px, -8px);
	}
}

#toggle_label {
	float: right;
	color: #A2A2A2;
	padding-top: 9px;
	padding-left: 10px;
	font-size: 20px;
}

#btn_toggle_menu {
	float: right;
	width: auto;
	cursor: pointer;
}

#menu {
	position: absolute;
	right: 0;
	z-index: 2;
	width: @width_menu;
	overflow: auto;
	padding: 10px;
	margin: auto;
	border-radius: 4px;
	background: white;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
	display: none;
	&:after {
		position: absolute;
		top: -15px;
		right: 10px;
		content: "";
		display: block;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 20px solid white;
	}
	.form-control-feedback {
		pointer-events: all;
		cursor: pointer;
	}
}


/* twitter */

#menu_twitter {
	position: absolute;
	right: 0;
	width: @width_menu;
	background-color: white;
	border-style: solid;
	border-color: #888888;
	border-width: 0 0 1px 0;
	z-index: 1;
	display: none;
	h4 {
		padding-left: 5px;
	}
	.btn_hide {
		float: right;
		margin-right: 13px;
		font-size: 1.8em;
		margin-top: -7px;
		cursor: pointer;
	}
}

#cont_twitter {
	position: absolute;
	right: 0;
	background: white;
	z-index: 1;
	width: @width_menu;
	margin-top: 40px;
	display: none;
}

#results {
	max-width: @width_menu - 20px;
}

#results_table {
	max-height: 240px;
	overflow-y: inherit;
}

.result {
	cursor: pointer;
}

.result_selected {
	background-color: #A5D4FD;
}


/* Language */

#dropdown_language {
	border-right: 1px solid gray;
	font-size: 19px;
	ul {
		min-width: 20px;
	}
	a {
		padding: 7px 13px;
	}
	/*@media (max-width: @screen-sm) {
		margin-right: 0;
	}*/
}

.dropdown-menu > .active > a {
	background-color: @color_blue;
}

.nav1 {
	color: #868686;
	list-style: none;
	padding: 3px 0;
	float: right;
	> li > a {
		color: lighten(#777, 15%);
		&:hover,
		&:focus {
			color: #fff;
			background-color: transparent;
		}
	}
	> .active > a {
		&,
		&:hover,
		&:focus {
			color: #fff;
			background-color: darken(#222, 10%);
			;
		}
	}
	> .open > a {
		&,
		&:hover,
		&:focus {
			background-color: darken(#222, 10%);
			;
			color: #fff;
		}
	}
}


/* btn back */

#btnBack .hidden-xs {
	font-size: 0.8em;
	vertical-align: text-top;
}


/* charts */

.chart {
	height: 340px;
	width: 100%;
}

.measures {
	height: 16px;
	font-size: 0.86em;
}


/* map blur */

.map_blur {
	background-size: 100% 100%;
}
.map_blur_right {
	background-image: url('../images/map_right_blur.jpg')
}
.map_blur_left {
	background-image: url('../images/map_left_blur.jpg')
}