.info_window {
	max-width: 470px;
	min-width: 370px;
	h4 {
		margin-bottom: 2px;
	}
	.category {
		margin-bottom: 10px;
	}
	.row {
		margin-right: 0;
	}
}

.stars {
	margin-top: 10px;
}

.star_red {
	color: #ff0100;
}

.star_orange {
	color: #ffad00;
}

.star_yellow {
	color: #fffa00;
}

.star_lgreen {
	color: #8fff00;
}

.star_green {
	color: #00aa0f;
}

#loader {
	float: left;
	padding-top: 15px;
	color: gray;
}
